<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <nav class="top_nav">
                <ul>

                    <li>
                        <a href="javascript:void(0)"><i></i> ALL</a>
                    </li>
                    <li>
                        <a href="/"><i ></i> DRAFTING</a>
                    </li>
                    <li>
                        <a href="/"><i ></i> VALIDATING</a>
                    </li>
                    <li>
                        <a href="/"><i ></i> APPROVING</a>
                    </li>
                    <li>
                        <a href="/"><i ></i> REPAIRING</a>
                    </li>
                    <li>
                        <a href="/"><i ></i> EXCUTING</a>
                    </li>
                    <li>
                        <a href="/"><i ></i>FINISH</a>
                    </li>
                </ul>
            </nav>
            <div class="col-md-12">
                <div class="card">
                    <div>
                        <div class="col-md-12 header-row" data-background-color="orange">
                            <h2 class="title">Campaign List</h2>
                            <a href="javascript:void(0)">
                                <div class="plus-icon-area">
                                    <i class="material-icons">add_circle_outline</i>
                                </div>
                            </a>


                            <p class="category"></p>
                        </div>
                        <div class="card-content table-responsive">
                            <div>
                                <table class="table">
                                    <thead class="text-danger">
                                        <tr>
                                            <th>Name</th> 
                                            <th>Create Date</th>
                                            <th>Stage</th>
                                            <th>Event Start Date</th>
                                            <th>Last Modified Date</th>
                                            <th>Last Modified By</th>
                                        </tr>
                                    </thead>
                                    
                                        <tbody *ngFor="let marketing of marketingList">

                                            <tr [routerLink]="['marketing-detail', marketing.id]">
                                                <td>{{marketing.Name}}</td>
                                                <td>{{marketing.CreatedDate | date}}</td>
                                                <td>{{marketing.Stage}}</td>
                                                <td>{{marketing.EventStartDate | date}}</td>
                                                <td>{{marketing.LastModifiedDate | date}}</td>
                                                <td>{{marketing.LastModifiedBy}}</td>
                                            </tr>

                                        </tbody>
                                    

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>