<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
                <nav id="top_nav">
                        <ul>
                  
                            <li>
                                <a href="/">
                                    <i></i> ALL
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <i ></i> DRAFTING
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <i ></i> VALIDATING
                                </a>
                            </li>
                            <li>
                                    <a href="/">
                                        <i ></i> APPROVING
                                    </a>
                                </li>
                                <li>
                                        <a href="/">
                                            <i ></i> REPAIRING
                                        </a>
                                    </li>
                                    <li>
                                            <a href="/">
                                                <i ></i> EXCUTING
                                            </a>
                                        </li>
                                        <li>
                                                <a href="/">
                                                    <i ></i>FINISH
                                                </a>
                                            </li>
                            </ul>
                </nav>
            <div class="col-md-12">
                <div class="card">
                   <div>
                    <div class="" data-background-color="red">
                        <div>
                            <button class="newcampaign">
                                New Campaign
                            </button>
                        </div>
                    
                        <h1 class="title">Campaign List</h1>
                        <p class="category"></p>
                        
                    </div>
                    <div class="card-content table-responsive">
                        <div>
                            <table class="table">
                                <thead class="text-danger">
                                    <tr>
                                        <th>Name</th>
                                        <th>Create Date</th>
                                        <th>Stage</th>
                                        <th>Event Start Date</th>
                                        <th>Last Modified Date</th>
                                        <th>Last Modified By</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a [routerLink]="['marketing-detail', 1]">QTCMPM</a></td>
                                        <td>19/9/2017</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>