<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <nav class="top_nav">
                <ul>

                    <li>
                        <a data-toggle="tab" href="#Information"><i></i>INFORMATION</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Result"><i ></i> RESULT</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="main-content tab-content">
        <div class="container-fluid tab-pane fade in active" id="Result">
            <div>
                <div class="col-md-12 header-row" data-background-color="orange">
                    <h2 class="title">Result Servey</h2>
                    <a href="javascript:void(0)">
                        <div class="plus-icon-area">
                            <button>Finish</button>
                        </div>
                    </a>


                    <p class="category"></p>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-content col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label"> Company Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Contact</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Mail</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Phone</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Address</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Note:</label>
                                            <div class="form-group form-black label-floating is-empty">
                                                <textarea class="form-control" rows="2"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-content col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="container">
                                            <h3>Satisfaction Level</h3>
                                            <p>Facility</p>
                                            <form>
                                                <label class="radio-inline">
                                                        <input type="radio" name="optradio">Rất không tốt
                                                      </label>
                                                <label class="radio-inline">
                                                        <input type="radio" name="optradio">Không tốt
                                                      </label>
                                                <label class="radio-inline">
                                                        <input type="radio" name="optradio">Trung Bình
                                                      </label>
                                                <label class="radio-inline">
                                                        <input type="radio" name="optradio">Tốt
                                                    </label>
                                                <label class="radio-inline">
                                                            <input type="radio" name="optradio">Rất tốt
                                                          </label>
                                            </form>
                                            <p>Arranging</p>
                                            <form>
                                                <label class="radio-inline">
                                                        <input type="radio" name="optradio">Rất không tốt
                                                      </label>
                                                <label class="radio-inline">
                                                        <input type="radio" name="optradio">Không tốt
                                                      </label>
                                                <label class="radio-inline">
                                                        <input type="radio" name="optradio">Trung Bình
                                                      </label>
                                                <label class="radio-inline">
                                                        <input type="radio" name="optradio">Tốt
                                                    </label>
                                                <label class="radio-inline">
                                                            <input type="radio" name="optradio">Rất tốt
                                                          </label>
                                            </form>
                                            <p>Servicing</p>
                                            <form>
                                                <label class="radio-inline">
                                                        <input type="radio" name="optradio">Rất không tốt
                                                      </label>
                                                <label class="radio-inline">
                                                        <input type="radio" name="optradio">Không tốt
                                                      </label>
                                                <label class="radio-inline">
                                                        <input type="radio" name="optradio">Trung Bình
                                                      </label>
                                                <label class="radio-inline">
                                                        <input type="radio" name="optradio">Tốt
                                                    </label>
                                                <label class="radio-inline">
                                                            <input type="radio" name="optradio">Rất tốt
                                                          </label>
                                            </form>
                                            <p>Indicator</p>
                                            <form>
                                                <label class="radio-inline">
                                                        <input type="radio" name="optradio">Rất không tốt
                                                      </label>
                                                <label class="radio-inline">
                                                        <input type="radio" name="optradio">Không tốt
                                                      </label>
                                                <label class="radio-inline">
                                                        <input type="radio" name="optradio">Trung Bình
                                                      </label>
                                                <label class="radio-inline">
                                                        <input type="radio" name="optradio">Tốt
                                                    </label>
                                                <label class="radio-inline">
                                                            <input type="radio" name="optradio">Rất tốt
                                                          </label>
                                            </form>
                                            <p>Other</p>
                                            <form>
                                                <label class="radio-inline">
                                                        <input type="radio" name="optradio">Rất không tốt
                                                      </label>
                                                <label class="radio-inline">
                                                        <input type="radio" name="optradio">Không tốt
                                                      </label>
                                                <label class="radio-inline">
                                                        <input type="radio" name="optradio">Trung Bình
                                                      </label>
                                                <label class="radio-inline">
                                                        <input type="radio" name="optradio">Tốt
                                                    </label>
                                                <label class="radio-inline">
                                                            <input type="radio" name="optradio">Rất tốt
                                                          </label>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label">Task Assign</label>
                                        <input type="file" (change)="convertFileToB64($event)">
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label">Budget</label>
                                        <input type="file" (change)="convertFileToB64($event)">
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label">License</label>
                                        <input type="file" (change)="convertFileToB64($event)">
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Stage</label>
                                            <div class="form-group form-black label-floating is-empty">

                                                <label for="" class="validating">Validating</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <ul>
                                                    <li>Validated by: Not yet</li>
                                                    <li>Date: Not yet </li>
                                                    <li>Notes: </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <ul>
                                                    <li>Accpected by: Not yet</li>
                                                    <li>Date: Not yet </li>
                                                    <li>Notes: </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="col-md-12">
                        <nav class="top_nav">
                            <ul>

                                <button class="submit">Save Draft</button>
                                <button class="submit">Save and Finish</button>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid tab-pane fade in active" id="Information">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" data-background-color="orange">
                            <h4 class="title">Summarize</h4>
                        </div>
                        <div class="card-content col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label"> Title</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Budget</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Descriptions</label>
                                        <div class="form-group form-black label-floating is-empty">
                                            <textarea class="form-control" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label">Start Date</label>
                                    <input type="date" class="form-control" placeholder=" ">
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label">End Date</label>
                                    <input type="date" class="form-control" placeholder=" ">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" data-background-color="orange">
                            <h4 class="title">Attach File</h4>
                        </div>
                        <div class="card-content col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Event Schedule</label>
                                    <input type="file" (change)="convertFileToB64($event)">
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label">Task Assign</label>
                                    <input type="file" (change)="convertFileToB64($event)">
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label">Budget</label>
                                    <input type="file" (change)="convertFileToB64($event)">
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label">License</label>
                                    <input type="file" (change)="convertFileToB64($event)">
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Stage</label>
                                        <div class="form-group form-black label-floating is-empty">

                                            <label for="" class="validating">Validating</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <ul>
                                                <li>Validated by: Not yet</li>
                                                <li>Date: Not yet </li>
                                                <li>Notes: </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <ul>
                                                <li>Accpected by: Not yet</li>
                                                <li>Date: Not yet </li>
                                                <li>Notes: </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-md-12">
                    <nav class="top_nav">
                        <ul>

                            <button class="submit">Save Draft</button>
                            <button class="submit">Save and Finish</button>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>