<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Simple Table</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-content table-responsive">
                     <div ng-app="Marketting" ng-controller="markettingController">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Name</th>
                                    <th>Create Date</th>
                                    <th>Stage</th>
                                    <th>Event Start Date</th>
                                    <th>Last Modified Date</th>
                                    <th>Last Modified By</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            
        </div>
    </div>
</div>
